body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: 2px solid #888;
}

#top-button {
    background-color: #F8F8F8;
}

.footer-wrapper {
    font-family: 'Libre Baskerville', serif;
    background-color: #F8F8F8;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    border-top: 2px solid #E7E7E7;
    display: flex;
    align-content: center;
}

.divider {
    height: 4px;
    color: #888;
    background-color: #888;
    border: none;
}

.footer-format {
    width: 200px;
    font-size: 10px;
    color: #888;
}

.nav {
    width: 1000px;
    display: inline-flex;
    flex-direction: row;
    padding-top: 5px; 
    padding-bottom: 5px;
    margin: auto;
    justify-content: space-between;
    letter-spacing: -1px;
}
.nav-wrapper {
    font-family: 'Libre Baskerville', serif;
    border-bottom: 2px solid #E7E7E7;
    display: flex;
    align-content: center;
    margin: 0;
    margin-bottom: 30px;
    padding: 5px;
    background-color: #F8F8F8;
}

#main {
    min-height: 100vh; /*so footer is actually on bottom even on smaller pages */
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

#lda_area {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#topic_terms {
    height: 900px;
    width: 300px;
}
#ldapca {
    height: 900px;
    width: 900px;
}
#subset_corpus {
    height: 300px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.subsetter {
    width: 290px;
    height: 300px;
}

.links > a {
    text-decoration: none;
    padding: 5px 5px;
    text-align: center;
    color: #888;
    font-size: 20px;
    letter-spacing: -1px;
    padding-right: 15px;
}

.footer-format > a {
    text-decoration: none;
    font-size: 14px;
    padding-right: 15px;
    color: #888;
}

.orange {
    color: #DE781F;
}

a.active {
    color: #555;
}

a:hover {
    color: #555;
}
td
{
    vertical-align: top;
    padding:0 25px 0 5px;
}
.selected {
    border: 2px solid #1F77B4;
}
