.input-label {
    margin-top: 30px;
}

#tokens {
    width: 250px;
    padding: 0 6px;
    margin-top: 8px;
}

#search-button {
    height: max-content;
    margin-top: 7px;
    margin-left: 20px;
}

.plot-div {
    padding: 0px;
    background: rgb(243, 243, 243);
    height: 400px;
}

.bottom {
    padding: 10px 0px 0px 20px;
}

.col-6 {
    padding-left: 0px;
    padding-top: 15px;
}

select {
    margin-left: 5px;
    margin-top: 5px;
}

#sel-filter {
    padding-top: 15px;
    padding-left: 15px;
}

.plot {
    width: auto;
    height: 350px;
}

.dropdown-label {
    padding-left: 15px;
}

#kwic-row {
    padding-top: 50px;
    margin-bottom: 50px;
}

.padding-div {
    padding-top: 70px;
}

#token-msg {
    margin-left: 20px;
    margin-top: 10px;
}
