.input-label {
    margin-top: 30px;
    padding-left: 5px;
}

#tokens {
    border: 1px solid #A9A9A9;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 250px;
    padding: 0 16px;
    height:36px;
    margin-top: 8px;
}

.ui-menu-item {
    background: #f2f2f2;
    color: #757575;
    border: 0px;
    padding-left: 8px;
}

.ui-widget.ui-widget-content {
    border: 0px;
}

/* #nn-plot {
    margin-top: 15px;
} */

.plot-div {
    padding: 0px;
    /* margin-right: 15px; */
    background: rgb(243, 243, 243);
    height: 400px;
}

.bottom {
    padding: 10px 0px 0px 20px;
}

.col-6 {
    padding-left: 0px;
    padding-top: 15px;
}

select {
    margin-left: 5px;
    margin-top: 5px;
}

/* .bottom-row {
    padding-top: 15px;
} */

#sel-filter {
    padding-top: 15px;
    padding-left: 15px;
}

.plot {
    width: auto;
    height: 350px;
}

.dropdown-label {
    padding-left: 15px;
}

#kwic-row {
    padding-top: 50px;
    margin-bottom: 50px;
}

.padding-div {
    padding-top: 70px;
}

#token-msg {
    margin-left: 20px;
    margin-top: 10px;
}
