.input-label {
    margin-top: 15px;
}

#tokens {
    width: 250px;
    padding: 0 6px;
    margin-top: 8px;
}

#search-button {
    height: max-content;
    margin-top: 7px;
    margin-left: 20px;
}

#token-disp ul {
    list-style-type: none;
    margin-top: 15px;
    padding-left: 0px;
}

#token-disp li {
    display: inline;
    float: left;
    margin-right: 20px;
    background-color: #003366;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 5px 1px 5px;
}

#token-disp .btn {
  border: none;
  color: white;
  padding: 0px;
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}

.btn:active,
.btn:focus {
    outline: none;
}

.title {
    margin-top: 30px;
}
