html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color : #333333;
}

hr {
    color: #BCBCBC;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}

.range-slider {
    width: 400px;
}
    .irs--flat .irs-handle>i:first-child {
	    background-color: steelblue!important;
	}
	.irs--flat .irs-bar {
	        background-color: steelblue!important;
	    }
	    .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
		    background-color: steelblue!important;
		}
		.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
		        border-top-color: steelblue!important;
		    }

.preview-card:hover {
       border: 2px solid steelblue;
       color: #333333;
}

.preview-card-description {
    padding-left: 10px;
    padding-right: 10px;
}

.preview-card-description p {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
}
.preview-card-description h2 {
    font-family: 'Libre Baskerville', 'serif';
    font-size: 18px;
}

.preview-wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.preview-card {
    border: 2px solid #E1E4E8;
    text-decoration: none;
    color: #333333;
    display: block;
    height: 330px;
    width: 330px;
    background-color: #FFFFFF;
}

.more-about {
    text-align: right;
    font-family: 'Helvetica', 'sans-serif';
    font-size: 14px;
    color: steelblue;
    font-style: bold;
}


.block-quote {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.6;
}

.block-quote-citation {
    display: block;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Helvetica', 'sans-serif';
    width: 280px;
    font-size: 14px;
    line-height: 1.2;
}

.intro-bar {
    width: 100%;
    height: 330px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 34px;
    margin-top: 34px;
    background-color: #E1E4E8;
    padding-bottom: 50px;
    padding-top: 50px;
}

.text-block {
    margin: auto;
    width: 560px;
}

h2 {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    font-style: bold;
}

h4 { 
    font-family: 'Helvetica', 'sans-serif';
    font-size: 18px;
    font-style: bold;
}

p {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
    line-height: 1.4;
}

button {
    border: 2px solid #888;
}

#top-button {
    background-color: #BCBCBC;
    margin: 0px;
    height: 50px;
    border-radius: 50%;
    border-color: #242729;
    font-family: 'Helvetica', 'sans-serif';
    font-size: 14px;
}

#top-button:hover {
    background-color: #F8F8F8;
}

.footer-wrapper {
    font-family: 'Libre Baskerville', serif;
    /*background-color: #F8F8F8; */
    background-color: #242729;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    border-top: 2px solid #E7E7E7;
    display: flex;
    align-content: center;
}

.divider {
    height: 4px;
    color: #888;
    background-color: #888;
    border: none;
}

.footer-format {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 14px;
    color: #BCBCBC;
}

.nav {
    width: 1000px;
    display: inline-flex;
    flex-direction: row;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: auto;
    justify-content: space-between;
    letter-spacing: -1px;
}
.nav-wrapper {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: #BCBCBC;
    border-bottom: 2px solid #E7E7E7;
    display: flex;
    align-content: center;
    margin: 0;
    margin-bottom: 34px;
    padding: 0px;
    height: 70px;
    /*background-color: #F8F8F8; */
    background-color: #242729;
}

#main {
    min-height: 100vh; /*so footer is actually on bottom even on smaller pages */
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

#topic_info {
    height: 400px;
    width: 1000px;
    margin:auto;
    display: flex-row;
}
#topic_info_wrapper {
    width: 100%;
}


#lda_wrapper {
    padding-top: 30px;
}

#lda_area {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#topic_terms {
    height: 900px;
    width: 300px;
}
#ldapca {
    height: 900px;
    width: 900px;
}

.selecter {
    margin: 0;
    height: 60px;
    width: 80%;
    border-color: #BCBCBC;
}

.selecter-title {
    margin: 0;
    width: 100px;
    font-family: 'Helvetica', 'sans-serif';
    font-size: 14px;
    font-style: bold;
}

.subsetter {
    color: #333333;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#apply-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Helvetica', 'sans-serif';
    font-size: 14px;
    font-style: bold;
}

#ndocs {
    font-size: 16px;
}
#status {
    font-size: 16px;
    font-style: italic;
}

.subset_button {
    height: 40px;
    color: #FFFFFF;
    background-color: #242729;
    width: 100px;
}

.links > a {
    text-decoration: none;
    text-align: center;
    color: #888;
    font-size: 20px;
    letter-spacing: -1px;
    margin-right: 15px;
}

.footer-format > a {
    text-decoration: none;
    font-size: 14px;
    padding-right: 15px;
    display: inline-block;
    color: #BCBCBC;
}

.footer-format > div {
    text-decoration: none;
    font-size: 14px;
    padding-right: 15px;
    display: inline-block;
    color: #BCBCBC;
}

.orange {
    color: #DE781F;
}

a.active {
    /*color: #555; */
    color: #f4f4f4; 
}

a:hover {
    /*color: #555; */
    color: #f4f4f4; 
}

td
{
    vertical-align: top;
    padding:0 25px 0 5px;
}
.selected {
    border: 2px solid #1F77B4;
}
td
{
    vertical-align: top;
    padding:0 25px 0 5px;
}
.selected {
    border: 2px solid #1F77B4;
}
