body {
    background-color: #FFFFFF;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    color: #242729; 
    /*color: #DE781F; */
}

button {
    border: 2px solid #888;
}

#top-button {
    background-color: #F8F8F8;
    height: 20px;
    margin-top: 15px;
}

.footer-wrapper {
    font-family: 'Libre Baskerville', serif;
    /*background-color: #F8F8F8; */
    background-color: #242729;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    border-top: 2px solid #E7E7E7;
    display: flex;
    align-content: center;
}

.divider {
    height: 4px;
    color: #888;
    background-color: #888;
    border: none;
}

.footer-format {
    width: 200px;
    font-size: 10px;
    color: #888;
}

.nav {
    width: 1000px;
    display: inline-flex;
    flex-direction: row;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: auto;
    justify-content: space-between;
    letter-spacing: -1px;
}
.nav-wrapper {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: #BCBCBC;
    border-bottom: 2px solid #E7E7E7;
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0px;
    height: 70px;
    /*background-color: #F8F8F8; */
    background-color: #242729;
}

#main {
    min-height: 100vh; /*so footer is actually on bottom even on smaller pages */
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

#topic_info {
    height: 400px;
    width: 1000px;
    margin:auto;
    display: flex-row;
}
#topic_info_wrapper {
    width: 100%;
}


#lda_wrapper {
    padding-top: 30px;
}

#lda_area {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#topic_terms {
    height: 900px;
    width: 300px;
}
#ldapca {
    height: 900px;
    width: 900px;
}
#subset_corpus {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.selecter {
    margin-left: 10px;
    width: 900px;
}

.selecter-title {
    margin: 0;
    width: 100px;
}

.subsetter {
    color: #f4f4f4;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 1000px;
    height: 100px;
}

.subset_button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links > a {
    text-decoration: none;
    text-align: center;
    color: #888;
    font-size: 20px;
    letter-spacing: -1px;
    margin-right: 15px;
}

.footer-format > a {
    text-decoration: none;
    font-size: 14px;
    padding-right: 15px;
    display: inline-block;
    color: #888;
}

.orange {
    color: #DE781F;
}

a.active {
    /*color: #555; */
    color: #f4f4f4; 
}

a:hover {
    /*color: #555; */
    color: #f4f4f4; 
}

td
{
    vertical-align: top;
    padding:0 25px 0 5px;
}
.selected {
    border: 2px solid #1F77B4;
}
td
{
    vertical-align: top;
    padding:0 25px 0 5px;
}
.selected {
    border: 2px solid #1F77B4;
}
