.ldavis_container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    align-self: center;
}

.container_details {
    border: 1px solid #eee;
    padding: 10px;
    height: 900px;
}

.ldapca_wrapper {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.topic_terms {
    height: 900px;
    width: 500px;
}
.ldapca {
    background-color: rgb(243,243,243);
    height: 900px;
    width: 900px;
}

.overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.lda-input {
    width: 300px;
    border: 1px solid #BCBCBC;
    height: 38px; /* with border 1px top and bottom total is 40 like the search button next to it */
    margin: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#topic-input {
    width: 60px;
}

.topicdetails_tabs {
    height: 53px; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.topicdetails_tabs li {
    float:left; 
    width: 140px;
    height: 53px;
    list-style:none; 
    border-top:1px solid #ccc; 
    border-left:1px solid #ccc; 
    border-right:1px solid #ccc; 
    margin-right:5px; 
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
    outline:none;
}

.topicdetails_tabs li a {
    height: 53px;
    font-family:Arial, Helvetica, sans-serif; 
    font-size: small;
    font-weight: bold; 
    padding: 10px;
    padding-left: 20px;
    font-size: 24px;
    color: #5685bc;;
    display:block; 
    background: #FFF;
    border-top-left-radius:3px; 
    border-top-right-radius:3px; 
    text-decoration:none;
    outline:none;
}

.topicdetails_tabs li a.inactive{
    color:#666666;
    background: #EEE;
    outline:none;
    border-bottom: solid 1px #CCC;

}

.topicdetails_tabs li a:hover, .topicdetails_tabs li a.inactive:hover {
    color: #5685bc;
    outline:none;
}
